*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #121214;
  background-image: url("../img/bg.svg");
  background-position-x:center ;
  background-position-y:55.6% ;
}
body *{
  font-family: 'Roboto', sans-serif;
}
ul{
  list-style: none;
}
#app{
  width: fit-content;
  margin: 0 auto 60px auto;
}

/* CABEÇALHO */
header{
  margin-bottom: 62px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}
header ul li{
  display: inline-block;
}
header ul li a{
  text-decoration: none;
  color: #fff;
  padding: 14px 10px 4px;
  font-size: 1.2em;
}
header ul li a:hover{
  color: #fffd;
  border-bottom: 1px solid #f7dd43;
}
/* FIM DO CABEÇALHO */

/* CONTEUDO PRINCIPAL */
#cards{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.card{
  padding: 23px;
  text-align: center;
  background-color: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 6px;
}
.card h2{
  color: #fff;
  margin-bottom: 23px;
}
.card h3{
  display: flex;
  gap: 16px;  
  justify-content: center;
  align-items: center;
  border: 1px solid #746615;
  padding: 8px 16px;
  border-radius: 6px;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 23px;
  color: #f7dd43;
}
.card h3 span{
  color: #e1e1e6;
  font-size: 15px;
  text-transform: uppercase;
}
.card ul{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}
.card ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card ul li + li{
  padding-top: 24px;
  border-top: 1px solid #323238;
}
.card ul li strong{
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
  word-spacing: 8px;
}
/* FIM DO CONTEUDO PRINCIPAL */

/* PÁGINA RESULTS */
/* CONTEUDO PRINCIPAL */
#container-table{
  overflow-x: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
table{
  font-size: 1.5em;
  color: #e1e1e6;
  text-align: center;
  background-color: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 6px;
  padding: 5px 10px 28px 10px;
  margin-bottom: 40px; 
}
.table-group{
  color: #f7dd43;
  text-transform: capitalize;
  font-size: 1.8em;
  margin-bottom: 10px;
}
th, td{
  padding-left: 10px;
  padding-top: 10px;
}
.equip{
  text-align: left;
  white-space: nowrap;
  padding-right: 30px;
  padding-left: 0;
}
/* FIM DO CONTEUDO PRINCIPAL */

/* LAYOUT PARA TELAS COM MAIS DE 720 PX */
@media screen and (width >= 720px){
  header{
    flex-direction: row;
    padding-left: 50px;
  }
  #cards{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* FIM DO LAYOUT PARA TELAS COM MAIS DE 720 PX */

/* LAYOUT PARA TELAS COM MAIS DE 1000 PX */
@media screen and (width >= 1000px){
  #container-table{
    align-items: center;
  }
  table{
    width: 700px;
  }
}
/* FIM DO LAYOUT PARA TELAS COM MAIS DE 1000 PX */